first_node=true
bootstrap_url=localhost
map_reduce_port=9000
chord_port=3333
node_type=NameNode

bin_dir=/home/hadoop/hadoop-0.20.203.0/bin
config_dir=/home/hadoop/hadoop-0.20.203.0/conf
slave_config_file=slaves